<%= form_for @user , url:user_path(@user) do |f| %>
  <h1>名前<%= f.text_field :name %></h1>
  <h1>Eメール<%= f.email_field :email %></h1>
  <h1>パスワード<%= f.text_field :password,value:@user.password %></h1>
<%= f.submit :"送信",class:"btn btn-info form-control w-25" %>
<% end %>
