
<% @user.errors.full_messages.each do |message| %>
  <h2><%= message %></h2>
<% end %>

<%= form_for @user do |f| %>
<h1>名前</h1>
<h1><%= f.text_field :name %></h1>
<h1>Eメール</h1>
<h1><%= f.email_field :email %></h1>
<h1>パスワード</h1>
<h1><%= f.password_field :password%></h1>
<%= f.submit class:"btn btn-info form-control w-25" %>
<% end %>
