<h1 class="text-danger">ユーザー詳細</h1>
<p>ユーザー名：<%= @user.name %></p>
<p>email:<%= @user.email %></p>
<% if @user.id == @current_user.id %>
  <p><%= link_to "プロフィールを編集する", edit_user_path(@user) %></p>
  <p><%= link_to "退会する", user_path(@user),method: :delete,data: {confirm: "退会して大丈夫ですか?"}  %></p>
<% end %>
<h1 class="text-danger">投稿内容</h1>
<% if @user.posts.empty? %>
<br>
<h3>まだ投稿はありません</h3>
<br>
<% end %>
<table class="table table-hover ">
  <tbody >
    <thead>
      <tr class="text-success">
        <th>タイトル</th>
        <th>内容</th>
        <th>投稿時間</th>
        <th>コメント数</th>
        <th>投稿を確認する</th>
      </tr>
    </thead>
      <tr>
       <% @user.posts.each do |post| %>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= post.comments.count %></td>
        <td><%= link_to "click!",post_path(post) %></td>
      </tr>
  </tbody>
       <% end %>
</table>
