<h1 class="text-danger">掲示板に新規投稿をする</h1>
<br>
<%= form_for @post do |f| %>
  <h1>タイトル：<%= f.text_field :title %></h1>
  <h1>コンテンツ：<%= f.text_field :content %></h1>
  <!-- <h1>写真 <%= f.file_field :image %></h1> -->

<%= f.submit :"投稿する",class:"btn btn-info form-control w-25" %>
<% end %>
